services:
  # Monolith API
  api:
    build: ./api
    container_name: arena_api_monolith
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - NODE_ENV=development
      - MONGO_URI=mongodb://monolith_db:27017/arena_monolith
    volumes:
      - ./api/src:/app/src
      - /app/node_modules
    depends_on:
      - monolith_db
    restart: unless-stopped

  # Monolith DB
  monolith_db:
    image: mongo:latest
    container_name: arena_monolith_db
    ports:
      - "27023:27017"
    volumes:
      - monolith_db_data:/data/db
    restart: unless-stopped

  # Frontend
  frontend:
    build: ./view
    container_name: arena_frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - FAST_REFRESH=true
    volumes:
      - ./view/src:/app/src
      - ./view/public:/app/public
      - /app/node_modules
    depends_on:
      - api
    restart: unless-stopped

volumes:
  monolith_db_data:
