services:
  redis:
    image: redis:7-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  mongo:
    image: mongo:latest
    hostname: mongo
    command: ["mongod" ,"--replSet", "rs0", "--bind_ip_all", "--quiet"]
    networks:
      default:
        aliases:
          - mongo
    extra_hosts:
      - "mongo:127.0.0.1"
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
      - ./mongo-init/replica-init.js:/docker-entrypoint-initdb.d/replica-init.js:ro
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'rs.status().ok' | grep 1"]
      interval: 5s
      timeout: 5s
      retries: 60

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ntuarena-backend
    ports:
      - "5000:5000"
    environment:
      PORT: ${PORT}
      MONGO_URI: ${MONGO_URI}
      MONGO_DB: ${MONGO_DB}
      REDIS_URL: ${REDIS_URL}
      NODE_ENV: ${NODE_ENV}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
      AUTH_ENABLED: ${AUTH_ENABLED}
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy

  frontend:
    build: ./view
    container_name: arena_frontend
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: true
      FAST_REFRESH: true
    volumes:
      - ./view/src:/app/src
      - ./view/public:/app/public
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  mongo-data:

