services:
  # set redis as a different service
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  # MongoDB service
  mongodb:
    image: mongo:7
    container_name: ntuarena-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: ntuarena
      MONGO_APP_USER: appuser
      MONGO_APP_PASS: apppass
    volumes:
      - mongo-data:/data/db
      - ./backend/scripts/mongo-init.js:/docker-entrypoint-initdb.d/01-mongo-init.js:ro
    healthcheck:
      test: ["CMD", "mongosh", "-u", "root", "-p", "example", "--authenticationDatabase", "admin", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  # Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ntuarena-backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: "mongodb://root:example@mongodb:27017/ntuarena?authSource=admin"
      REDIS_URL: "redis://redis:6379"
      NODE_ENV: development
    depends_on:
      mongodb:
        condition: service_healthy
      redis:
        condition: service_healthy

  # Frontend
  frontend:
    build: ./view
    container_name: arena_frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:5000
      - CHOKIDAR_USEPOLLING=true
      - FAST_REFRESH=true
    volumes:
      - ./view/src:/app/src
      - ./view/public:/app/public
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped



volumes:
  mongo-data:
