version: "3.8"

services:
  app:
    build: .
    container_name: arena_manager
    ports:
      - "3000:3000"
    env_file:
      - src/.env
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    container_name: arena_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
